<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografia</title>
    <link rel="stylesheet" href="../css/biografia.css">
</head>

<body>
    <div id="Menu">
        <a href="index.html" class="btnHeader">Página Inicial</a>
        <a href="" class="btnHeader">Integrantes</a>
        <a href="" class="btnHeader">Análise Ética</a>
        <a href="" class="btnHeader">Banco de Dados</a>
        <a href="glossario.html" class="btnHeader">Glossário</a>
        <a href="" class="btnHeader">MITS</a>
        <a href="../../jogoEmPython/templates/chamadaJogoPython.html"
           class="btnHeader">Jogo Em Python</a>
        <a href="" class="btnHeader">Documentação</a>
    </div>
    <div id="Banner">
        <img src="../img/Ridley Scott.png" class="ridleyScott">
        <p class="txtBanner">Biografia de Ridley Scott</p>
        <p class="txtSecundario">Diretor e produtor britânico aclamado, conhecido por suas obras de ficção científica.
        </p>
    </div>
    <div id="Corpo">
        <p class="titleCrp">Ridley Scott : Vida Pessoal</p>
        <p class="txtCrp">Ridley Scott nasceu na cidade de South Shields, na Inglaterra, em 30 de novembro de 1937. Ele
            é filho de um oficial da Royal Engineers e por causa da função do seu pai, a família toda morou no País de
            Gales, em Cumberland e também na Alemanha. Após a Segunda Guerra Mundial, a família retornou para Durham e
            estabeleceu-se em Hartbum, uma região industrial que mais tarde serviu de inspiração para os cenários de
            “Blade Runner”.

            Ridley Scott foi aluno do London’s Royal College of Art quando colaborou com a criação do departamento
            cinematográfico.</p>
        <p class="titleCrp2">Carreira de Cineasta:</p>
        <p class="txtCrp2">Nessa época, junto com seu irmão Tony Scott, que também se tornou cineasta, produziu seu
            primeiro filme, um curta metragem, em preto e branco, denominado “Boy on a Bicycle”.

            Em 1962 Ridley Scott ingressou na BBC, onde estagiou como Set Designer e criou o cenário para diversos
            shows.

            Ingressou em um curso de direção e em 1965 realizou sua primeira experiência na direção da série de
            televisão Z Cars, no episódio “Error of Judgement” (1965), e na série de ficção científica “Out of the
            Unknown”.

            Redley Scott foi também um dos produtores de “The Daleke, participando da criação dos monstros da série.

            Scott realizou vários trabalhos na TV, mas frustrado pela pouca recompensa financeira na BBC, partiu para a
            área da propaganda. Junto com Tony Scott, criou uma empresa de publicidade, a “Ridley Scott Associates”.</p>
        <img src="imagens/ridleyScott.webp" class="ridleyImg">
    </div>
</body>

</html>