<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glossário</title>
    <link rel="stylesheet" href="../css/glossario.css">
</head>

<body>
    <div id="abaBtn">
        <a href="index.html" class="btnHeader">Página Inicial</a>
        <a href="" class="btnHeader">Integrantes</a>
        <a href="" class="btnHeader">Análise Ética</a>
        <a href="" class="btnHeader">Banco de Dados</a>
        <a href="biografia.html" class="btnHeader">Biografia</a>
        <a href="" class="btnHeader">MITS</a>
        <a href="../../jogoEmPython/templates/chamadaJogoPython.html"
           class="btnHeader">Jogo Em Python</a>
        <a href="" class="btnHeader">Documentação</a>
    </div>

    <div id="Menu">
        <p class="txtMenu">Glossário</p>
    </div>

    <div id="Banner">
        <img src="imagens/dicionario.png" class="imgDicionario">
        <p class="txtIntroducao">Introdução:</p>
        <p class="txtDesenvolvimento">
            Um glossário é uma lista de termos e suas definições, geralmente organizada em ordem alfabética, com o objetivo de explicar o significado de palavras ou expressões técnicas, especializadas ou difíceis de compreender. Ele é utilizado para auxiliar o leitor ou usuário a entender melhor determinado conteúdo, especialmente em contextos mais complexos, como textos acadêmicos, científicos, legais ou técnicos.
            <br><br>
            Em cima disto, abordaremos e analisaremos os elementos linguísticos presentes na obra cinematográfica, "Piratas do Vale do Silício (1999)". Onde os termos presentes no filme, são caracterizados por serem técnicos e/ou regionais.
        </p>
    </div>

    <div id="Corpo">
        <p class="titleCrp">Glossário</p>
        <div class="botoes">
            <button class="btnPalavra" data-audio="audio/apple.mp3">
                Apple /aepal/ <span class="Traducao">Apple</span>
            </button>
            <button class="btnPalavra" data-audio="audio/software.mp3">
                Software /softwɛər/ <span class="Traducao">Programa</span>
            </button>
            <button class="btnPalavra" data-audio="audio/mouse.mp3">
                Mouse /maus/ <span class="Traducao">Rato</span>
            </button>
            <button class="btnPalavra" data-audio="audio/boy.mp3">
                Boy /bɔi/ <span class="Traducao">Menino</span>
            </button>
            <button class="btnPalavra" data-audio="audio/laughs.mp3">
                Laughs /læfs/ <span class="Traducao">Risadas</span>
            </button>
            <button class="btnPalavra" data-audio="audio/computer.mp3">
                Computer /kəmˈpuːtər/ <span class="Traducao">Computador</span>
            </button>
            <button class="btnPalavra" data-audio="audio/burns.mp3">
                Burns /barns/ <span class="Traducao">Queimaduras</span>
            </button>
            <button class="btnPalavra" data-audio="audio/basic.mp3">
                Basic /ˈbeɪsɪk/ <span class="Traducao">Básico</span>
            </button>
            <button class="btnPalavra" data-audio="audio/future.mp3">
                Future /ˈfuːtər/ <span class="Traducao">Futuro</span>
            </button>
            <button class="btnPalavra" data-audio="audio/home.mp3">
                Home /hoʊm/ <span class="Traducao">Casa</span>
            </button>
            <button class="btnPalavra" data-audio="audio/fortune.mp3">
                Fortune /fortuən/ <span class="Traducao">Fortuna</span>
            </button>
            <button class="btnPalavra" data-audio="audio/stay.mp3">
                Stay /steɪ/ <span class="Traducao">Fique</span>
            </button>
            <button class="btnPalavra" data-audio="audio/way.mp3">
                Way /weɪ/ <span class="Traducao">Caminho</span>
            </button>
            <button class="btnPalavra" data-audio="audio/time.mp3">
                Time /taɪm/ <span class="Traducao">Tempo</span>
            </button>
            <button class="btnPalavra" data-audio="audio/introducing.mp3">
                Introducing /ɪntrə'dusin/ <span class="Traducao">Apresentando</span>
            </button>
            <button class="btnPalavra" data-audio="audio/file.mp3">
                File /faile/ <span class="Traducao">Arquivo</span>
            </button>
            <button class="btnPalavra" data-audio="audio/undo.mp3">
                Undo /andu:/ <span class="Traducao">Desfazer</span>
            </button>
            <button class="btnPalavra" data-audio="audio/game.mp3">
                Game /geɪm/ <span class="Traducao">Jogo</span>
            </button>
            <button class="btnPalavra" data-audio="audio/trash.mp3">
                Trash /træsh/ <span class="Traducao">Lixeira</span>
            </button>
            <button class="btnPalavra" data-audio="audio/airport.mp3">
                Airport /aɛrpɔrt/ <span class="Traducao">Aeroporto</span>
            </button>
            <button class="btnPalavra" data-audio="audio/windows.mp3">
                Windows /wɪndouz/ <span class="Traducao">Janelas</span>
            </button>
            <button class="btnPalavra" data-audio="audio/keyboard.mp3">
                Keyboard /kiboard/ <span class="Traducao">Teclado</span>
            </button>
        </div>
    </div>

    <div id="Footer">
        <p class="footerMsg">Etec de Guarulhos - Trabalho Interdisciplinar 2024</p>
    </div>

    <script src="../js/glossario.js"></script>
</body>

</html>
